<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor type="Axiom.SitecoreCustom.Cache.Pipelines.MvcRendering.SetCacheability, Axiom.SitecoreCustom.Cache"
                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.SetCacheability, Sitecore.Mvc']" />
        <processor type="Axiom.SitecoreCustom.Cache.Pipelines.MvcRendering.GenerateCacheKey, Axiom.SitecoreCustom.Cache"
                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
        <processor type="Axiom.SitecoreCustom.Cache.Pipelines.MvcRendering.ExtendCacheKey, Axiom.SitecoreCustom.Cache" 
                   patch:after="processor[@type='Axiom.SitecoreCustom.Cache.Pipelines.MvcRendering.GenerateCacheKey, Axiom.SitecoreCustom.Cache']"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
